* {
    /*border: 1px solid red;*/
}

body {
    background-color: #000000;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#MainPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: #ECDFCC;
}

.InfoHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#LeftPanel {
    display: flex;
    flex-direction: column;
    background-color: #183D3D;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    width: 400px
}

.ProfilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ECDFCC;
}

#Introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction-summary {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.mywork-button {
    display: inline-block;
    border: 1px solid #ECDFCC;
    padding: 5px 15px;
    border-radius: 50px;
    background-color: transparent;
    color:#ECDFCC;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transition: all 0.3s ease;
}

.mywork-button:hover {
    background-color: #ECDFCC;
    color: black;
    border-color: #ECDFCC;
}

#Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-brands {
    font-size: 2rem;
}

.footer-link-button {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px;
    background-color: transparent;
    color:#ECDFCC;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transition: all 0.3s ease;
}

.footer-link-button:hover {
    background-color: #ECDFCC;
    color: black;
    border-color: #ECDFCC;
}

#RightPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #040D12;
}

.fa-solid {
    font-size: 1.5rem;
}

.blog-title-container {
    display: flex;
    gap: 10px;
}

.RightPanelHeader {
    background-color: #5C8374;
    display: flex;
    justify-content: center;
    align-self: stretch;
    height: auto;
    min-height: 50px;
}

.blog-area {
    border: 1px solid #ECDFCC;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.blog-link {
    display: block;
    text-decoration: none;
    color: inherit;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 6px;
    margin: 0;
    transition: box-shadow 0.3s ease;
}

.blog-link:hover {
    box-shadow: 0 4px 8px #ECDFCC; /* Add hover effect */
}

.blog-title {
    font-size: 1.5rem;
    color: #ECDFCC; /* Link color */
    margin: 0;
}

.blog-summary {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #ECDFCC; /* Slightly muted color for summary */
}